<div  class="suns-mart-information-wrapper">
    <div  class="suns-mart-information-heading">
     {{section.settings.suns_mart_head_1}} 
    {{section.settings.suns_mart_text_1}}
    </div>
     <div  class="suns-mart-information-heading">
      {{section.settings.suns_mart_head_2}}
       {{section.settings.suns_mart_text_2}}
    </div>
     <div  class="suns-mart-information-heading">
     {{section.settings.suns_mart_head_3}} 
     {{section.settings.suns_mart_text_3}}
    </div>
     <div  class="suns-mart-information-heading">
      {{section.settings.suns_mart_head_4}} 
      {{section.settings.suns_mart_text_4}}
    </div>
     <div  class="suns-mart-information-heading">
       {{section.settings.suns_mart_head_5}} 
       {{section.settings.suns_mart_text_5}}
    </div>
     <div  class="suns-mart-information-heading">
        {{section.settings.suns_mart_head_6}} 
        {{section.settings.suns_mart_text_6}}
    </div>
     <div  class="suns-mart-information-heading">
      {{section.settings.suns_mart_head_7}} 
      {{section.settings.suns_mart_text_7}}
    </div>
    </div>
  


{% schema %}
{   "name": "Suns Mart Information",
    "class": "sunsmartinformation",
    "settings": [
            {  "type": "richtext",
            "id": "suns_mart_head_1",
            "label": "Please Enter Heading"    
            },
              {  "type": "richtext",
            "id": "suns_mart_text_1",
            "label": "Please Enter paragraph"    
            },
             {  "type": "richtext",
            "id": "suns_mart_head_2",
            "label": "Please Enter Heading"    
            },
              {  "type": "richtext",
            "id": "suns_mart_text_2",
            "label": "Please Enter paragraph"    
            },
             {  "type": "richtext",
            "id": "suns_mart_head_3",
            "label": "Please Enter Heading"    
            },
              {  "type": "richtext",
            "id": "suns_mart_text_3",
            "label": "Please Enter paragraph"    
            },
             {  "type": "richtext",
            "id": "suns_mart_head_4",
            "label": "Please Enter Heading"    
            },
              {  "type": "richtext",
            "id": "suns_mart_text_4",
            "label": "Please Enter paragraph"    
            },
             {  "type": "richtext",
            "id": "suns_mart_head_5",
            "label": "Please Enter Heading"    
            },
              {  "type": "richtext",
            "id": "suns_mart_text_5",
            "label": "Please Enter paragraph"    
            },
             {  "type": "richtext",
            "id": "suns_mart_head_6",
            "label": "Please Enter Heading"    
            },
              {  "type": "richtext",
            "id": "suns_mart_text_6",
            "label": "Please Enter paragraph"    
            },
             {  "type": "richtext",
            "id": "suns_mart_head_7",
            "label": "Please Enter Heading"    
            },
              {  "type": "richtext",
            "id": "suns_mart_text_7",
            "label": "Please Enter paragraph"    
            } 
        ],
        "presets": [
               {
                "name": "Suns Mart Information",
                "settings": {
                      "suns_mart_head_1":"",
                      "suns_mart_text_1":"",
                       "suns_mart_head_2":"",
                      "suns_mart_text_2":"",
                       "suns_mart_head_3":"",
                      "suns_mart_text_3":"",
                       "suns_mart_head_4":"",
                      "suns_mart_text_4":"",
                       "suns_mart_head_5":"",
                      "suns_mart_text_5":"",
                       "suns_mart_head_6":"",
                      "suns_mart_text_6":"",
                       "suns_mart_head_7":"",
                      "suns_mart_text_7":""
                }
               }
        ]
}
{% endschema %}