<div  class="main-goods-category-section">
    <div  class="main-goods-category-1">
        <div class="main-goods-category-image">
            <img  src="{{ section.settings.snus_mart_icon_section3_image_1 |  image_url: width: 500 }}">
        </div>
         <div  class="main-goods-category-heading">
             {{ section.settings.snus_mart_icon_section3_text_1 }}
         </div>
    </div>
    <div  class="main-goods-category-1">
        <div class="main-goods-category-image">
            <img  src="{{ section.settings.snus_mart_icon_section3_image_2 |  image_url: width: 500 }}">
        </div>
         <div  class="main-goods-category-heading">
             {{ section.settings.snus_mart_icon_section3_text_2 }}
         </div>
    </div>
    <div  class="main-goods-category-1">
        <div class="main-goods-category-image">
            <img  src="{{ section.settings.snus_mart_icon_section3_image_3 |  image_url: width: 500 }}">
        </div>
         <div  class="main-goods-category-heading">
             {{ section.settings.snus_mart_icon_section3_text_3}}
         </div>
    </div>

     <div  class="main-goods-category-1">
        <div class="main-goods-category-image">
            <img  src="{{ section.settings.snus_mart_icon_section3_image_4 |  image_url: width: 500 }}">
        </div>
         <div  class="main-goods-category-heading">
             {{ section.settings.snus_mart_icon_section3_text_4 }}
         </div>
    </div>
      
    <div  class="main-goods-category-1">
        <div class="main-goods-category-image">
            <img  src="{{ section.settings.snus_mart_icon_section3_image_5 |  image_url: width: 500 }}">
        </div>
         <div  class="main-goods-category-heading">
             {{ section.settings.snus_mart_icon_section3_text_5 }}
         </div>
    </div>
 <div  class="main-goods-category-1">
        <div class="main-goods-category-image">
            <img  src="{{ section.settings.snus_mart_icon_section3_image_6 |  image_url: width: 500 }}">
        </div>
         <div  class="main-goods-category-heading">
             {{ section.settings.snus_mart_icon_section3_text_6 }}
         </div>
    </div>
    <div  class="main-goods-category-1">
        <div class="main-goods-category-image">
            <img  src="{{ section.settings.snus_mart_icon_section3_image_7 |  image_url: width: 500 }}">
        </div>
         <div  class="main-goods-category-heading">
             {{ section.settings.snus_mart_icon_section3_text_7 }}
         </div>
    </div>

     <div  class="main-goods-category-1">
        <div class="main-goods-category-image">
            <img  src="{{ section.settings.snus_mart_icon_section3_image_8 |  image_url: width: 500 }}">
        </div>
         <div  class="main-goods-category-heading">
             {{ section.settings.snus_mart_icon_section3_text_8 }}
         </div>
    </div>
       
    <div  class="main-goods-category-1">
        <div class="main-goods-category-image">
            <img  src="{{ section.settings.snus_mart_icon_section3_image_9 |  image_url: width: 500 }}">
        </div>
         <div  class="main-goods-category-heading">
             {{ section.settings.snus_mart_icon_section3_text_9 }}
         </div>
    </div>

</div>

{% schema %}
{
     "name": "snus mart icons 3",
    "class": "snusmarticons3",
    "settings": [
           { "type": "image_picker",
            "id": "snus_mart_icon_section3_image_1",
            "label": "Please select image"
            },
              {"type": "richtext",
            "id": "snus_mart_icon_section3_text_1",
            "label": "Please enter text"
            },
             { "type": "image_picker",
            "id": "snus_mart_icon_section3_image_2",
            "label": "Please select image"
            },
              {"type": "richtext",
            "id": "snus_mart_icon_section3_text_2",
            "label": "Please enter text"
            },
             { "type": "image_picker",
            "id": "snus_mart_icon_section3_image_3",
            "label": "Please select image"
            },
              {"type": "richtext",
            "id": "snus_mart_icon_section3_text_3",
            "label": "Please enter text"
            },
             { "type": "image_picker",
            "id": "snus_mart_icon_section3_image_4",
            "label": "Please select image"
            },
              {"type": "richtext",
            "id": "snus_mart_icon_section3_text_4",
            "label": "Please enter text"
            },
             { "type": "image_picker",
            "id": "snus_mart_icon_section3_image_5",
            "label": "Please select image"
            },
              {"type": "richtext",
            "id": "snus_mart_icon_section3_text_5",
            "label": "Please enter text"
            },
             { "type": "image_picker",
            "id": "snus_mart_icon_section3_image_6",
            "label": "Please select image"
            },
              {"type": "richtext",
            "id": "snus_mart_icon_section3_text_6",
            "label": "Please enter text"
            },
             { "type": "image_picker",
            "id": "snus_mart_icon_section3_image_7",
            "label": "Please select image"
            },
              {"type": "richtext",
            "id": "snus_mart_icon_section3_text_7",
            "label": "Please enter text"
            },
             { "type": "image_picker",
            "id": "snus_mart_icon_section3_image_8",
            "label": "Please select image"
            },
              {"type": "richtext",
            "id": "snus_mart_icon_section3_text_8",
            "label": "Please enter text"
            },
             { "type": "image_picker",
            "id": "snus_mart_icon_section3_image_9",
            "label": "Please select image"
            },
              {"type": "richtext",
            "id": "snus_mart_icon_section3_text_9",
            "label": "Please enter text"
            }
        
        ],
        "presets": [
            {
                 "name": "snus mart icons 3",
                 "settings": {
                     
                   "snus_mart_icon_section3_image_1":"",
                   "snus_mart_icon_section3_text_1":"",
                      "snus_mart_icon_section3_image_2":"",
                   "snus_mart_icon_section3_text_2":"",
                      "snus_mart_icon_section3_image_3":"",
                   "snus_mart_icon_section3_text_3":"",
                      "snus_mart_icon_section3_image_4":"",
                   "snus_mart_icon_section3_text_4":"",
                      "snus_mart_icon_section3_image_5":"",
                   "snus_mart_icon_section3_text_5":"",
                      "snus_mart_icon_section3_image_6":"",
                   "snus_mart_icon_section3_text_6":"",
                      "snus_mart_icon_section3_image_7":"",
                   "snus_mart_icon_section3_text_7":"",
                      "snus_mart_icon_section3_image_8":"",
                   "snus_mart_icon_section3_text_8":"",
                      "snus_mart_icon_section3_image_9":"",
                   "snus_mart_icon_section3_text_9":""

                 }
            }

        ]
}
{% endschema %}